<?xml version="1.0"?>
<model>
  <name>Bin deletion wall</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Zeid Kootbally</name>
   <email>zeid.kootbally@nist.gov</email>
  </author>

  <description>
    Disposal unit that deletes objects which run into it.
  </description>
</model>
