# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled python
*.pyc
*.pyo

# Executables
*.exe
*.out
*.app
.vscode/
ARIAC/log/
ARIAC/nist_gear/log/
ARIAC/test_competition/log/
wiki/log/
nist_gear/log/
ariac-docker/log
log/
.pyc
.pyo

/automated_evaluation/nist_team.yaml

# ARIAC Logs
/ariac_log/*/

# New trials
/ariac_gazebo/config/trials/*.yaml

