<?xml version="1.0"?>
<model>
  <name>workcell_shelf_ghost_collar</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Zeid Kootbally</name>
    <email>Zeid Kootbally@nist.gov</email>
  </author>

  <description>
    Shelves with ghost parts on them
 </description>
</model>
