<?xml version="1.0"?>

<model>
  <name>Person ARIAC</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Zeid Kootbally</name>
    <email>zeid.kootbally@nist.gov</email>
  </author>

  <description>
    Worker on a segway who drives around in the factory. 
  </description>

</model>
