<?xml version="1.0"?>

<model>
  <name>modules_shelves</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Robert Seney</name>
    <email>robert.seney@nist.gov</email>
  </author>

  <description>
    Module shelves for use in ARIAC 2025
  </description>
</model>