
.wy-nav-content {
    max-width: 80% !important;
}

.inline-file {
    color: #082e9f !important;
    font-style: italic;
    background-color: #fbfbfb !important;
}

.inline-tutorial {
    color: #0d7b1a !important;
    font-weight: bold;
    background-color: #fbfbfb !important;
}

.emphasize-lines {
    background-color: #f9a04d !important;
}

button.copybtn {
   color: red;
}

.topic {
    color: rgb(255,0,0);
}

.rosservice {
    color: rgb(102, 0, 255);
}

.yamlname {
    color: #204a87 !important;
    font-weight: bold;
}

.tuto {
    color: #147520 !important;
}


/* code.literal {
    color: #404040 !important;
    background-color: #fbfbfb !important;
} */

/* body {
    counter-reset: h1
}

h1 {
    counter-reset: h2
}

h2 {
    counter-reset: h3
}

h3 {
    counter-reset: h4
}

h1:before {
    counter-increment: h1;
    content: counter(h1) ". "
}

h2:before {
    counter-increment: h2;
    content: counter(h1) "." counter(h2) ". "
}

h3:before {
    counter-increment: h3;
    content: counter(h1) "." counter(h2) "." counter(h3) ". "
}

h4:before {
    counter-increment: h4;
    content: counter(h1) "." counter(h2) "." counter(h3) "." counter(h4) ". "
} */