<?xml version="1.0"?>

<model>
  <name>horizontal_recorder</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Joseph Fernandez</name>
    <email>joseph.fernandez@nist.gov</email>
  </author>

  <description>
    Horizontal recorder used for recording environment and saving recording to mp4
  </description>
</model>