<?xml version="1.0"?>

<model>
  <name>vg_4</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Joseph Fernandez</name>
    <email>joseph.fernandez@nist.gov</email>
  </author>

  <description>
    Gripper used to flip the module on the module conveyor
  </description>
</model>
