<?xml version="1.0"?>

<model>
  <name>advanced_logical_camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Justin Albrecht</name>
    <email>justin.albrecht@nist.gov</email>
  </author>

  <description>
    Advanced Logical Camera Model
  </description>
</model>
