<?xml version="1.0"?>
<launch>

  <!-- Robot state publisher -->
  <!-- Already started in gantry_control.launch -->
<!--
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
    <remap from="/joint_states" to="/ariac/gantry/left_arm/joint_states" />
  </node>
-->

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration"
        args="pub /calibrated std_msgs/Bool true" />

  <rosparam file="$(find nist_gear)/robots/ur10/ur_gazebo/controller/left_joint_state_controller.yaml" command="load" />
  <rosparam file="$(find nist_gear)/robots/ur10/ur_gazebo/controller/right_joint_state_controller.yaml" command="load" />

<!--
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager"
        args="spawn joint_state_controller" respawn="false" output="screen" />
-->
</launch>
