<?xml version="1.0"?>
<model>
  <name>Gantry tray</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Zeid Kootbally</name>
   <email>zeid.kootbally@nist.gov</email>
  </author>

  <description>
    Tray located on the torso of the gantry robot.
  </description>
</model>
