<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="assembly_robot_1">
  
  <!-- include macros -->
  <xacro:include filename="$(find ariac_description)/urdf/gantry_welder_macro.xacro"/>
  <xacro:include filename="$(find ariac_description)/urdf/gantry_welder.ros2_control.xacro"/>

  <link name="world"/>

  <gazebo 
    reference="world">
  </gazebo>

  <!-- run gantry macro -->
  <xacro:gantry_welder/>

  <!-- run ros2 control macro -->
  <xacro:gantry_welder_ros2_control/>

  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="gantry_base_link"/>
    <origin xyz="4.2 6.5 0.002" rpy="0 0 0"/>
  </joint>

  <gazebo>
    <plugin filename="libgz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <ros>
        <namespace>gantry_welder</namespace>
      </ros>
      <parameters>$(find ariac_description)/config/gantry_welder_controllers.yaml</parameters>
    </plugin>
    <plugin filename="libWelderPlugin.so" name="ariac_plugins::WelderPlugin">
      <ros>
        <namespace>gantry_welder</namespace>
      </ros>
    </plugin>
  </gazebo>
  
</robot>