<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="gantry_welder" params="">

    <material name="gray">
      <color rgba="0.6 0.6 0.6 1"/>
    </material>

    <material name="black">
      <color rgba="0.2 0.2 0.2 1"/>
    </material>

    <material name="gold">
      <color rgba="0.8 0.5 0.2 1"/>
    </material>

    <!-- Links -->
    <link name="gantry_base_link">
      <visual>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/left_support.stl"/>
        </geometry>
        <material name="black"/>
      </visual>

      <visual>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/right_support.stl"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/left_support.stl"/>
        </geometry>
      </collision>

      <collision>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/right_support.stl"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="5.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
    </link>

    <link name="gantry_rail">
      <visual>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/rail.stl"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/rail.stl"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
    </link>

    <link name="gantry_carriage">
      <visual>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/carriage.stl"/>
        </geometry>
        <material name="black"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/carriage.stl"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
    </link>

    <link name="welder_base">
      <visual>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/welder.stl"/>
        </geometry>
        <material name="gray"/>
      </visual>

      <collision>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/welder.stl"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="1.0"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
    </link>

    <link name="welder_electrodes">
      <visual>
        <origin xyz="0.0025 0 -0.012" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/electrode.stl"/>
        </geometry>
        <material name="gold"/>
      </visual>

      <visual>
        <origin xyz="-0.0025 0 -0.012" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://$(find ariac_description)/meshes/gantry_welder/electrode.stl"/>
        </geometry>
        <material name="gold"/>
      </visual>

      <collision>
        <origin xyz="0.0025 0 -0.006" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.012" radius="0.0015"/>
        </geometry>
      </collision>

      <collision>
        <origin xyz="-0.0025 0 -0.006" rpy="0 0 0"/>
        <geometry>
          <cylinder length="0.012" radius="0.0015"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="0.05"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01"/>
      </inertial>
    </link>

    <!-- Joints -->
    <joint name="longitudinal_slide_joint" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="gantry_base_link"/>
      <child link="gantry_rail"/>
      <axis xyz="0 -1 0"/>
      <limit effort="1000.0" lower="-0.15" upper="0.15" velocity="1.0"/>
    </joint>

    <joint name="transverse_slide_joint" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="gantry_rail"/>
      <child link="gantry_carriage"/>
      <axis xyz="1 0 0"/>
      <limit effort="1000.0" lower="-0.25" upper="0.25" velocity="2.0"/>
    </joint>

    <joint name="vertical_lift_joint" type="prismatic">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <parent link="gantry_carriage"/>
      <child link="welder_base"/>
      <axis xyz="0 0 1"/>
      <limit effort="100.0" lower="-0.025" upper="0.015" velocity="4.0"/>
    </joint>

    <joint name="electrodes_joint" type="fixed">
      <origin xyz="0 -0.075 0.515" rpy="${pi} 0 0"/>
      <parent link="welder_base"/>
      <child link="welder_electrodes"/>
    </joint>

    <gazebo reference="electrodes_joint">
      <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>
    
    <gazebo reference="welder_electrodes">
      <sensor name='welder_contact_sensor_1' type='contact'>
        <update_rate>30</update_rate>
        <contact>
          <collision>welder_electrodes_collision</collision>
        </contact>
      </sensor>
      <sensor name='welder_contact_sensor_2' type='contact'>
        <contact>
          <collision>welder_electrodes_collision_1</collision>
        </contact>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
