<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="gantry_welder_ros2_control" params="">

    <ros2_control name="gantry_welder" type="system">
      <hardware>
        <plugin>gz_ros2_control/GazeboSimSystem</plugin>
      </hardware>

      <joint name="longitudinal_slide_joint">
        <command_interface name="position">
          <param name="min">-0.15</param>
          <param name="max">0.15</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="transverse_slide_joint">
        <command_interface name="position">
          <param name="min">-0.25</param>
          <param name="max">0.25</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

      <joint name="vertical_lift_joint">
        <command_interface name="position">
          <param name="min">-0.025</param>
          <param name="max">0.015</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0</param>
        </state_interface>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
      </joint>

    </ros2_control>

  </xacro:macro>
</robot>