<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="inspection_robot_2">
  <xacro:include filename="$(find ariac_description)/urdf/robot_macro.xacro"/>

  <xacro:robot 
    name="inspection_robot_2"
    model="ur5e"
    x="2.5"
    y="1.0"
    z="0.4"
    yaw="${pi}"
    controllers="$(find ariac_description)/config/inspection_robot_2_controllers.yaml"
    initial_positions="$(find ariac_description)/config/inspection_robot_2_positions.yaml">
  </xacro:robot>
  
</robot>