<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="robot" params="
    name
    model
    x
    y
    z
    yaw
    controllers
    initial_positions
    has_gripper=true">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <xacro:include filename="$(find ariac_description)/urdf/robotiq_macro.xacro"/>

  <xacro:include filename="$(find ariac_description)/urdf/robot.ros2_control.xacro"/>

  <xacro:include filename="$(find ariac_description)/urdf/robotiq.ros2_control.xacro" />

  <link name="world"/>

  <gazebo 
    reference="world">
  </gazebo>
  
  <xacro:ur_robot
    name="${name}"
    parent="world"
    tf_prefix="${name}_"
    joint_limits_parameters_file="$(find ur_description)/config/${model}/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/${model}/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/${model}/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/${model}/visual_parameters.yaml">
     <origin xyz="${x} ${y} ${z}" rpy="0 0 ${yaw}" />
  </xacro:ur_robot>

  <!-- Macro for adding contact sensors -->
  <xacro:macro name="add_contact_sensor" params="link_name collision_name ">
    <gazebo reference="${link_name}">
      <sensor type="contact" name="${link_name}_contact_sensor">
        <always_on>true</always_on>
        <update_rate>50</update_rate>
        <contact>
          <collision>${collision_name}</collision>
        </contact>
      </sensor>
    </gazebo>
  </xacro:macro>

  <!-- Add sensors to robot-->
  <xacro:add_contact_sensor link_name="${name}_base_link" collision_name="${name}_base_link_collision"/>
  <xacro:add_contact_sensor link_name="${name}_shoulder_link" collision_name="${name}_shoulder_link_collision"/>
  <xacro:add_contact_sensor link_name="${name}_upper_arm_link" collision_name="${name}_upper_arm_link_collision"/>
  <xacro:add_contact_sensor link_name="${name}_forearm_link" collision_name="${name}_forearm_link_collision"/>
  <xacro:add_contact_sensor link_name="${name}_wrist_1_link" collision_name="${name}_wrist_1_link_collision"/>
  <xacro:add_contact_sensor link_name="${name}_wrist_2_link" collision_name="${name}_wrist_2_link_collision"/>
  <xacro:add_contact_sensor link_name="${name}_wrist_3_link" collision_name="${name}_wrist_3_link_collision"/>

  <!-- Add Gazebo Plugin -->
  <gazebo>
    <plugin filename="libRobotCollisionPlugin.so" name="ariac_plugins::RobotCollisionPlugin">
    </plugin>
  </gazebo>

  <xacro:ur_ros2_control
    name="${name}"
    initial_positions="${xacro.load_yaml(initial_positions)}">
  </xacro:ur_ros2_control>

  <xacro:if value="${has_gripper}">
    <xacro:robotiq_gripper 
      prefix="${name}_" 
      parent="${name}_wrist_3_link">
    </xacro:robotiq_gripper>

    <!-- Add sensors to gripper-->
    <xacro:add_contact_sensor link_name="${name}_ur_to_robotiq_link" collision_name="${name}_ur_to_robotiq_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_base_link" collision_name="${name}_robotiq_85_base_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_left_inner_knuckle_link" collision_name="${name}_robotiq_85_left_inner_knuckle_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_left_knuckle_link" collision_name="${name}_robotiq_85_left_knuckle_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_left_finger_link" collision_name="${name}_robotiq_85_left_finger_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_left_finger_tip_link" collision_name="${name}_robotiq_85_left_finger_tip_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_right_inner_knuckle_link" collision_name="${name}_robotiq_85_right_inner_knuckle_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_right_knuckle_link" collision_name="${name}_robotiq_85_right_knuckle_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_right_finger_link" collision_name="${name}_robotiq_85_right_finger_link_collision"/>
    <xacro:add_contact_sensor link_name="${name}_robotiq_85_right_finger_tip_link" collision_name="${name}_robotiq_85_right_finger_tip_link_collision"/>

    <xacro:robotiq_ros2_control
      name="${name}">
    </xacro:robotiq_ros2_control>

    <link name="${name}_gripper_tcp"/>
    
    <joint name="${name}_robotiq_base_link-tcp" type="fixed">
      <origin xyz="0 0 0.1438" rpy="0 0 0"/>
      <parent link="${name}_robotiq_85_base_link"/>
      <child link="${name}_gripper_tcp"/>
    </joint>

  </xacro:if>

  <gazebo>
    <plugin filename="libgz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <ros>
        <namespace>${name}</namespace>
      </ros>
      <parameters>${controllers}</parameters>
    </plugin>
  </gazebo> 

  </xacro:macro>

</robot>
