<?xml version="1.0"?>

<model>
  <name>ariac_mobile_robot</name>
  <version>2.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Justin Albrecht</name>
    <email>justin.albrecht@nist.gov</email>
  </author>

  <description>
    Custom Mobile Robot for ARIAC
  </description>
</model>