<?xml version="1.0"?>

<model>
  <name>status_light</name>
  <version>1.0</version>
  <sdf version="1.11">model.sdf</sdf>

  <author>
    <name>Joseph Fernandez</name>
    <email>joseph.fernandez@nist.gov</email>
  </author>

  <description>
    Status light that indicates competition state
  </description>
</model>